<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
      <center><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></strong></center><br />
    <div class="row">

	<div class="col-md-12">
          <div classe="depart">      
	        <center>
                <span style="font-weight: bold;font-size : 1.2em;">Départs</span><br/>

              <span style="font-size : 0.9em;">#station:1time# #station:1line# - #station:1direction# (#station:1stop#)</span><br/>
              <span style="font-size : 0.9em;">#station:2time# #station:2line# - #station:2direction# (#station:2stop#)</span><br/>
           </div>
<br />
        <span style="font-weight: bold;font-size : 1.2em;">Arrivées</span><br/>

   <span style="font-size : 0.9em;">#station:arrival1time# #station:arrival1line# - #station:arrival1direction# (#station:arrival1stop#)</span><br/>
   <span style="font-size : 0.9em;">#station:arrival2time# #station:arrival2line# - #station:arrival2direction# (#station:arrival2stop#)</span><br/>
   </center>
	</div>
	</div>
</div>
