<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
      <center><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></strong></center><br />
    <div class="row">

	<div class="col-md-6">
	<center>
        <span style="font-weight: bold;font-size : 1.2em;">Départs</span><br/>
   </center>
   <span style="font-weight: bold;font-size : 1.2em;">HH:MM Ligne - Direction (arrêt XX)</span><br/>
	</div>
  <div class="col-md-6">
	<center>
        <span style="font-weight: bold;font-size : 1.2em;">Arrivées</span><br/>
   </center>
   <span style="font-weight: bold;font-size : 1.2em;">HH:MM Ligne - Direction (arrêt XX)</span><br/>
	</div>
	</div>
</div>
